.modal-header
  h1.modal-title Delete
.modal-body
  h3 Are you sure?
  p This action cannot be undone. 
  p Clicking OK will permanently delete this win.
.modal-footer
  button.btn.btn-primary(ng-click='deleteOK()') OK
  button.btn.btn-warning(ng-click='cancel()') Cancel
