div(ng-include='"components/navbar/navbar.html"')

.container.winboard
  .row
    .col-lg-12.page-header
      h1 Recent Wins
  .container-masonry
    .row 
      .col-lg-12
        .container(masonry masonry-options="{ transitionDuration: '0.4s', 'gutter': '10'}", column-width="215")
          .masonry-brick.winning(ng-repeat="win in recentWins track by $index" ng-class="win.mediaType || 'image' ")
            img(ng-src="{{win.mediaSrc}}")
            h4 {{win.title}}
            .winning-metadata(ng-if='win.creator._id !== currentUser._id')
              .col-sm-5.pull-left
                h6: a(ui-sref='userProfile({user_id: win.creator._id})') {{win.creator.name}}
              .col-sm-7.pull-right
                a(ng-click='likeWin(win._id)', ng-href='#'): span.glyphicon.glyphicon-heart 
                span {{win.hearts || 0}}
                a(ng-click='reblogWin(win._id)', ng-href='#'): span.glyphicon.glyphicon-repeat
                span {{win.reblogs || 0}}
            .winning-metadata(ng-if='win.user._id === currentUser._id')
              .col-sm-5.pull-left
                h6 You
              .col-sm-7.pull-right
                span.glyphicon.glyphicon-heart 
                span {{win.hearts || 0}}
                span.glyphicon.glyphicon-repeat
                span {{win.reblogs || 0}}

div(ng-include='"components/footer/footer.html"')