body
  background-color #222
  color: #eee

.winning
  padding 20px 
  background-color: #eef
  box-sizing border-box
  border-radius 10px
  box-shadow 2px 0 2px #333 
  min-height 100px
  float left
  width 60px
  
  img
    width 100%
    margin 0 auto
    position relative
.image
  width 215px
.video
  width 430px
    
.container-masonry
  position relative
  width 100%
  
