div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      h1.page-header Recent wins
  .container-masonry
    .row 
      .col-lg-12
        .container(masonry masonry-options="{ transitionDuration: '0.4s', 'gutter': '10'}", column-width="215")
          .masonry-brick.winning(ng-repeat="win in wins" ng-class="win.mediaType")
            img(ng-src="{{win.mediaSrc}}")

div(ng-include='"components/footer/footer.html"')