div(ng-include='"components/navbar/navbar.html"')
.container
  #hero-unit
    h1 #win
    p.lead Share life. Share awesome.
  .row
    .col-sm-12
      #feature-banner
        h1 #moreWins
      .container(masonry masonry-options="{ transitionDuration: '0.4s', 'gutter': '17'}", column-width="215")
        .masonry-brick.winning(ng-repeat="win in wins" ng-class="win.mediaType || 'image' ")
            img(ng-src="{{win.mediaSrc}}")
            h4.text-center {{win.title}}
  .row
    .col-sm-12
      .row.featurette
        .col-md-7.col-sm-12
          h1 Inspired by this video
          <iframe src="https://www.youtube.com/embed/xqbEyZxc0xo?rel=0" frameborder="0" allowfullscreen></iframe>
        .col-md-5.col-sm-12
          h2.featurette-heading Let's celebrate:
          ul
            li awesome tricks
            li new ideas
            li feats of superb balance
            li overcoming the odds
            li life.
          p.lead Who needs pins when you've got wins?
          h2.featurette-heading
          | This project is part of the curriculum at 
          a(href='http://freecodecamp.com') Free Code Camp.
          p
            | Students at FCC build full-stack applications,
            | according to project spec and user stories given in the curriculum.
            p Please check out some of my other projects at:
            ul
              li: a(href='http://aldraco.github.io') My portfolio
              li: a(href='http://codepen.io/aldraco/') Codepen
              li: a(href='http://github.com/aldraco') Github


div(ng-include='"components/footer/footer.html"')