div(ng-include='"components/navbar/navbar.html"')

.container
  #hero-picture.col-sm-12
    h1 share awesome
    p.lead Winterest is your place online to celebrate 'wins' - to share the awesome that happens every day.
    #social-button-bar
      .row.col-md-12
        .col-md-8
          .col-md-6
            button.btn.btn-primary Login
          .col-md-6
            button.btn.btn-warning Sign Up
        .col-md-2
      .row.col-md-12
        .col-md-10
          p.lead 
          | Check out some of the most 
          a(ui-sref='recentWins') recent wins.

.container
  .row
    .col-lg-12
      header#banner.hero-unit
        h1 WINTEREST
  .row
    .col-sm-12
      .row.featurette
        .col-sm-7
          h1 Inspired by this video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xqbEyZxc0xo?rel=0" frameborder="0" allowfullscreen></iframe>
        .col-sm-5
          h2.featurette-heading Let's celebrate:
          ul
            li awesome tricks
            li new ideas
            li feats of superb balance
            li overcoming the odds
            li life.
          p.lead Who needs pins when you've got wins?


div(ng-include='"components/footer/footer.html"')