div(ng-include='"components/navbar/navbar.html"')

.container
  #hero-picture.col-sm-12
    h1 share awesome
    .row
      .col-sm-12
        .col-sm-12.col-md-4
          p.lead Winterest is your place online to celebrate 'wins' - to share the awesome that happens every day.
        .col-sm-12.col-md-8
          #social-button-bar(ng-show='!isLoggedIn()')
            .row.col-sm-12
              .col-sm-6.text-center
                a(ui-sref='login'): button.btn.btn-primary() Login
              .col-sm-6.text-center
                a(ui-sref='signup'): button.btn.btn-warning Sign Up
            .row.col-sm-12
              p.lead 
              | Check out some of the most 
              a(ui-sref='recentWins') recent wins.

.container
  .row
    .col-lg-12
      header#banner.hero-unit
        h1 WINTEREST
.row
  .container
    .col-sm-12
      .container(masonry masonry-options="{ transitionDuration: '0.4s', 'gutter': '17'}", column-width="215")
        .masonry-brick.winning(ng-repeat="win in wins" ng-class="win.mediaType || 'image' ")
            img(ng-src="{{win.mediaSrc}}")
            h4.text-center {{win.title}}
.row
  .container
    .col-sm-12
      .row.featurette
        .col-md-7.col-sm-12
          h1 Inspired by this video
          <iframe src="https://www.youtube.com/embed/xqbEyZxc0xo?rel=0" frameborder="0" allowfullscreen></iframe>
        .col-md-5.col-sm-12
          h2.featurette-heading Let's celebrate:
          ul
            li awesome tricks
            li new ideas
            li feats of superb balance
            li overcoming the odds
            li life.
          p.lead Who needs pins when you've got wins?
          h2.featurette-heading
          | This project is part of the curriculum at 
          a(href='http://freecodecamp.com') Free Code Camp.
          p
            | Students at FCC build 'basejumps,' which are full-stack apps,
            | according to project spec and user stories given in the curriculum.
            p Please check out some of my other projects at:
            ul
              li: a(href='http://aldraco.github.io') My portfolio
              li: a(href='http://codepen.io/aldraco/') Codepen
              li: a(href='http://github.com/aldraco') Github


div(ng-include='"components/footer/footer.html"')