div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 WINTEREST
    p.lead Who needs pins whens you have wins?
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Recent wins:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='win in recentWins')
        li
          a(href='#', tooltip='{{win.info}}')
            | {{win.name}}
            button.close(type='button', ng-click='deleteWin(win)') ×

  form.thing-form
    label Everyone sees your wins!
    p.input-group
      input.form-control(type='text', placeholder='Add a new win here.', ng-model='newWin')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addWin()') Add New

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues