.navbar
  margin-bottom 0

.container
  @media (min-width: 1200px)
    width 1400px

#hero-unit
  background-image url('../../assets/images/freeski1.jpeg')
  width 100%
  height 900px
  background-size cover
  position relative
  
  h1
    font-size 15em
    position relative
    top 50%
    text-align center
  @media XLSize
    height 900px
    background-position-x 0
    top -20px
  @media lgSize
    height 700px  
    background-position-x 0  
  @media medSize
    height 600px
    background-position-x 0
    h1
      font-size 12em
  @media mobile
    height 340px
    h1
      font-size 8em
      padding 60px
#feature-banner
  h1
    font-size 4em
    @media mobile
      font-size 2em

masonry
  padding 10px
  margin-bottom 40px
    
.featurette
  padding 20px
  margin 0 auto
  width 100%
  margin-top 20px
  a 
    color #05938C
  

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center
    a 
      color #05938C
iframe
  width 90%
  min-height 300px
  padding 0 30px
  margin 0 auto
    